.main-image{
  position: relative;
  height: 400px;
  padding: 0px;
  background: url(/assets/images/event4.jpg) 0 / 100%;
}
.main-image:after{
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0,0,0,.5);
  z-index: 1;
}
.main-image .inner{
  position: absolute;
  top: 140px;
  left: 0;
  right: 0;
  z-index: 2;
}
.main-image h1{
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px #ff2b2b;
  font-family: serif;
  font-weight: 600;
  margin: 0px auto;
  padding: 10px 0;
}
.main-image p{
  text-align: center;
  color: #fff;
  width: 50%;
  margin: 0px auto;
}
.search-box{
  color: #fff;
  text-align: center;
  padding: 10px 0px;
  text-shadow: 2px 2px #090802;
  position: absolute;
  left: 0;
  right: 0;
  top: 230px;
  padding: 50px 0px;
  z-index: 2;
}
.search-box input{
  padding: 24px 40px;
  width: 50%;
  border-radius: 0px;
  border: 1px solid #a28a8a;
  height: 50px;
  margin: 0px -4px;
}

.search-box .btn-go {
  padding: 12px 15px;
  background: #449d44;
  border: 1px solid #a08d8c;
  color: #fff;
}
.layout-margin{
  margin: 30px auto;
}
.search-box-top{
  color: #fff;
  text-align: center;
  padding: 10px 0px;
  text-shadow: 2px 2px #090802;
  position: absolute;
  left: 0;
  right: 0;
  top: 230px;
  padding: 50px 0px;
  z-index: 2;
}
.search-filter{
  color: #fff;
  background: #449d44;
  padding: 14px 41px;
  border-color: #9f8f8e;
}
.trending-events, .other-events{
  text-align: center;
  margin: 0px auto 0px;
}

.trending-events h5{
  border-bottom: 4px solid #0275d8;
  display: inline-block;
  padding: 7px 0px;
  text-shadow: 4px 1px 8px #ddd;
}
.other-events h5{
  border-bottom: 4px solid #d80233;
  display: inline-block;
  padding: 7px 0px;
  color: #ffffff;
  text-shadow: 4px 1px 8px black;
}
.card-columns{
  margin-top: 20px;
}
.card-size-3{
  column-count: 3 !important;
}
.card-size-4{
  column-count: 4 !important;
}
.card-size-1{
  column-count: 1 !important;
}
.round-dp{
  width: 55px;
  border: 1px solid;
  border-radius: 50%;
  height: 55px;
  margin: 10px 40px;
}
.round-dp img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.btn.btn-group{
  padding: 10px 0px !important;
  margin-top: 6px;
}
.notification{
  text-align: right;
  position: relative;
}
.notification i{
  margin-top: 16px;
  display: inline-block;
  font-size: 40px;
  text-align: right;
  color: #a75f5f;
}
.notification span{
  position: absolute;
  color: #fff;
  top: 24px;
  right: 16px;
  color: #000000;
}
.modal-heading{
  text-align: center;
  margin-bottom: 10px;
}
.close-btn{
  text-align: right;
  font-size: 17px;
}
.bucket-wrap-inner{
  padding: 6px;
}
.bucket-wrap-outer{
  margin: 10px;
}
.bkt-name{
  margin-left: 12px;
  font-weight: 600;
}
.modal-custom{
  max-height: 400px;
}
.add-btn{
  text-align: center;
  margin:15px 0px 5px 0px;
}
.create-link{
  text-decoration: underline !important;
  color: blue !important;
  margin-left: 20px !important;
  cursor: pointer;
}
.add-remove i.fa.fa-check{
  margin-left: 20px;
  font-size: 22px;
  color: green;
}
.add-remove i.fa.fa-times{
  margin-left: 20px;
  font-size: 22px;
  color: red;
}
.add-remove input{
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-left: 17px;
}
.filter-wrap{
  margin: 40px auto;
}
.add-to-bucket{
  text-align: right;
  margin-top: 60%;
}
.pagination-wrap{
  position: absolute;
  right: 35px;
  top: 20px;
}
.spinner{
  text-align: center;
  margin: 50px auto;
}
.event-img-wrap{
  position: relative;
}
.overlay {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color:rgba(0, 0, 0, 0.2);
  z-index:1;
  color:white;
  display: none;
  align-items: center;
}
.card:hover .overlay{
  display: block;
  display: flex;
}
.card:hover .view-more{
  cursor: pointer;
  background: #0275d8;
  color: #fff;
}
.card:hover .view-site{
  cursor: pointer;
  background: green;
  color: #fff;
}
.p-pulse{
  margin: 12px;
  align-self: flex-start;
  cursor: pointer;
}
.overlay .fa-share-alt{
  margin: 12px;
  color: #fff !important;
  font-size: 20px;
  align-self: flex-start;
  cursor: pointer;
}
.overlay .btn-add-to-bucket{
  color: #443f3fe0;
  border-color: #5cb85c;
  border-radius: 0px;
  align-self: right;
  margin: 6px 0px 0px 30px;
  padding: 5px 12px;
  background: #5cb85c;
  color: #fff;
  border: none;
  cursor: pointer;
}
.card-text{
  color: #4e4d4d;
  font-size: 15px;
  display: block;
  display: -webkit-box;
  max-width: 100%;
  max-height: 100px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 20px;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card-title{
  color: green;
  text-transform: uppercase;
}
.view-more{
  width: 100%;
  background: #fff;
  border: none;
  padding: 7px;
  color: #4e4d4d;
  border: 1px solid #eee;
}
.view-site{
  width: 100%;
  background: #fff;
  border: none;
  padding: 7px;
  color: #4e4d4d;
  border: 1px solid #eee;
}
.white-background{
  background: #fff;
  padding: 20px;
  border: 1px solid #eee;
  border-radius: 4px;
}
.other-event-back{
  background: #D7CDC7;
  padding: 12px;
  border: 1px solid #eee;
  border-radius: 4px;
}
.other-event-back .joining{
  margin: 6px 0px 0px 95px;
}