<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="search-box-top">
        <input type="text" name="search" [(ngModel)]="search" placeholder="Type to search an Event" (keyup)="searchEvent(search)">
        <i class="fa fa-search"></i>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="filter-wrap">
          <div class="btn-group">
            <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
              <button class="btn btn-primary dropdown-toggle-split" ngbDropdownToggle>Select me</button>
              <div class="dropdown-menu" ngbDropdownMenu>
                <button class="dropdown-item">One</button>
                <button class="dropdown-item">Two</button>
                <button class="dropdown-item">Four!</button>
              </div>
            </div>
          </div>
        </div>
        <div class="filter-wrap">
          <div class="btn-group">
            <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
              <button class="btn btn-success dropdown-toggle-split" ngbDropdownToggle>Select me</button>
              <div class="dropdown-menu" ngbDropdownMenu>
                <button class="dropdown-item">One</button>
                <button class="dropdown-item">Two</button>
                <button class="dropdown-item">Four!</button>
              </div>
            </div>
          </div>
        </div>
        <div class="filter-wrap">
          <div class="btn-group">
            <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
              <button class="btn btn-info dropdown-toggle-split" ngbDropdownToggle>Select me</button>
              <div class="dropdown-menu" ngbDropdownMenu>
                <button class="dropdown-item">One</button>
                <button class="dropdown-item">Two</button>
                <button class="dropdown-item">Four!</button>
              </div>
            </div>
          </div>
        </div>
        <div class="filter-wrap">
          <div class="btn-group">
            <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
              <button class="btn btn-warning dropdown-toggle-split" ngbDropdownToggle>Select me</button>
              <div class="dropdown-menu" ngbDropdownMenu>
                <button class="dropdown-item">One</button>
                <button class="dropdown-item">Two</button>
                <button class="dropdown-item">Four!</button>
              </div>
            </div>
          </div>
        </div>
        <div class="filter-wrap">
          <div class="btn-group">
            <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
              <button class="btn btn-danger dropdown-toggle-split" ngbDropdownToggle>Select me</button>
              <div class="dropdown-menu" ngbDropdownMenu>
                <button class="dropdown-item">One</button>
                <button class="dropdown-item">Two</button>
                <button class="dropdown-item">Four!</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div [ngClass]=" current_user ? 'col-md-6' : 'col-md-5'">
        <div class="row"  *ngFor="let event of event_lists | filter : eventname " >
          <div class="event-content">
            <input *ngIf="current_user" type="checkbox" name="" value="{{event.id}}" (click)="addRemoveEvents(event.id)">
            <h5 routerLink="{{event.slug}}">{{event.name}}</h5>
            <p routerLink="{{event.slug}}">{{event.description}}</p>
            <div class="clearfix place-share" *ngIf="event.locations.length > 0">
              <p>Place : 
                {{event.locations[0].venue ? event.locations[0].venue + ',' : ''}}
                {{event.locations[0].lane ? event.locations[0].lane + ',' : ''}}
                {{event.locations[0].address_lane_1 ? event.locations[0].address_lane_1 + ',' : ''}}
                {{event.locations[0].address_lane_2 ? event.locations[0].address_lane_2 + ',' : ''}}
                {{event.locations[0].city ? event.locations[0].city + ',' : ''}}
                {{event.locations[0].state ? event.locations[0].state + ',' : ''}}
                {{event.locations[0].country ? event.locations[0].country + ',' : ''}}
                {{event.locations[0].pin ? event.locations[0].pin : ''}}
              </p>
              <i class="fa fa-share-alt" aria-hidden="true"></i>
            </div>
            <div class="date-price clearfix">
              <span>Date : {{event.start_at | date : 'dd/MM/yyyy'}}</span>
              <span class="price">$20</span>
            </div>
          </div>
        </div>
      </div>
      <div [ngClass]=" current_user ? 'col-md-3' : 'col-md-4'">
       <app-otherevents *ngIf="!current_user"></app-otherevents>
       <div class="add-to-bucket" *ngIf="current_user">
        <button (click)="openDialog()" class="btn btn-primary">Add to Bucket</button>
      </div>
      <div class="pagination-wrap" *ngIf="event_lists">
        <ngb-pagination [collectionSize]="120" [(page)]="page" [maxSize]="4" [rotate]="true" [ellipses]="false" [boundaryLinks]="true" (pageChange)="pageChanged()"></ngb-pagination>
      </div>
    </div>
  </div>
</div>
</div>
<style>
.my-pagination /deep/ .ngx-pagination {
  /*background: red;*/
  text-align: center;
}
</style>
