<div class="container">
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="search-box-top">
        <input type="text" name="search" placeholder="Type to search an Event">
        <i class="fa fa-search"></i>
      </div> 
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="filter-wrap">
        <div class="filter-head">
          <h6>Filters</h6>
        </div>
        <div class="filters">
          <div class="filters-inner">
            <select>
              <option>Category</option>
            </select>
          </div>
          <div class="filters-inner">
            <select>
              <option>Category</option>
            </select>
          </div>
          <div class="filters-inner">
            <select>
              <option>Category</option>
            </select>
          </div>
          <div class="filters-inner">
            <select>
              <option>Category</option>
            </select>
          </div>
          <div class="filters-inner">
            <select>
              <option>Category</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="row"  *ngFor="let event of event_lists" routerLink="/event_list/{{event.id}}">
        <div class="event-content">
          <h5>{{event.name}}</h5>
          <p>{{event.description}}</p>
          <div class="clearfix place-share">
            <p>Place : {{event.locations[0].lane}} {{event.locations[0].city}}</p>
            <i class="fa fa-share-alt" aria-hidden="true"></i>
          </div>
          <div class="date-price clearfix">
            <span>Date : {{event.start_at | date : 'dd/MM/yyyy'}}</span>
            <span class="price">$20</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h6 class="other-events-head">Other Events</h6>
      <div class="other-event-outer">
        <div class="other-event-wrap">
          <button class="btn btn-default">Joining?</button>
          <h6>Ruby Conference Chennai</h6>
          <div class="clearfix">
            <a href="" class="view-more">View More</a>
            <a href="" class="" class="view-site">View Site</a>
          </div>
          <div class="share-icon">
            <i class="fa fa-share-alt" aria-hidden="true"></i>
          </div>
          <div class="clearfix place-date">
            <span class="place">Anshoknagar</span>
            <span class="date-text">01/05/2018</span>
          </div>
        </div>
        <div class="other-event-wrap">
          <button class="btn btn-default">Joining?</button>
          <h6>Ruby Conference Chennai</h6>
          <div class="clearfix">
            <a href="" class="view-more">View More</a>
            <a href="" class="" class="view-site">View Site</a>
          </div>
          <div class="share-icon">
            <i class="fa fa-share-alt" aria-hidden="true"></i>
          </div>
          <div class="clearfix place-date">
            <span class="place">Anshoknagar</span>
            <span class="date-text">01/05/2018</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>