<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="search-box-top">
        <input type="text" name="search" placeholder="Type to search an Event">
        <i class="fa fa-search"></i>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="filter-wrap">
          <div class="filter-head">
            <h6>Filters</h6>
          </div>
          <div class="filters">
            <div class="filters-inner">
              <select [(ngModel)]="eventname">
                <option value="test">test</option>
              </select>
            </div>
            <div class="filters-inner">
              <select>
                <option>Category</option>
              </select>
            </div>
            <div class="filters-inner">
              <select>
                <option>Category</option>
              </select>
            </div>
            <div class="filters-inner">
              <select>
                <option>Category</option>
              </select>
            </div>
            <div class="filters-inner">
              <select>
                <option>Category</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div class="row"  *ngFor="let event of event_lists | paginate: { itemsPerPage: 3, currentPage: p } | filter : eventname " >
          <div class="event-content">
            <input *ngIf="current_user" type="checkbox" name="" value="{{event.id}}" (click)="addRemoveEvents(event.id)">
            <h5 routerLink="{{event.slug}}">{{event.name}}</h5>
            <p routerLink="{{event.slug}}">{{event.description}}</p>
            <div routerLink="{{event.slug}}" class="clearfix place-share">
              <p>Place : {{ event.locations[0] ? event.locations[0].lane : ''}} {{event.locations[0] ? event.locations[0].city : ''}}</p>
              <i class="fa fa-share-alt" aria-hidden="true"></i>
            </div>
            <div class="date-price clearfix">
              <span>Date : {{event.start_at | date : 'dd/MM/yyyy'}}</span>
              <span class="price">$20</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
       <app-otherevents *ngIf="!current_user"></app-otherevents>
       <div class="add-to-bucket" *ngIf="current_user">
        <button (click)="openDialog()" class="btn btn-primary">Add to Bucket</button>
      </div>
    </div>
  </div>
  <pagination-controls class="my-pagination" (pageChange)="pageChanged($event)" ></pagination-controls>
</div>
</div>
<style>
.my-pagination /deep/ .ngx-pagination {
  /*background: red;*/
  text-align: center;
}
</style>
