<div class="other-event-back">
  <div class="other-events">
    <h5>Other Events</h5>
  </div>
  <div class="card-columns card-size-1">
    <div class="card">
      <div class="event-img-wrap">
        <div class="overlay">
          <i class="fa fa-share-alt pull-right" aria-hidden="true"></i>
          <button class="btn-add-to-bucket joining">Joining?</button>
        </div>
        <img class="card-img-top img-fluid" src="assets/images/event2.jpg" alt="Card image cap">
      </div>
      <div class="card-block">
        <h5 class="card-title">event name</h5>
        <p class="card-text">event.description</p>
      </div>
      <div>
        <button class="view-site">View Site</button>
        <button class="view-more">View More</button>
      </div>
      <div class="card-footer">
        <small class="text-muted">Date : 12/02/2018</small>
        <small class="text-muted pull-right">Chennai</small>
      </div>
    </div>
    <div class="card">
      <div class="event-img-wrap">
        <div class="overlay">
          <i class="fa fa-share-alt pull-right" aria-hidden="true"></i>
          <button class="btn-add-to-bucket joining">Joining?</button>
        </div>
        <img class="card-img-top img-fluid" src="assets/images/event2.jpg" alt="Card image cap">
      </div>
      <div class="card-block">
        <h5 class="card-title">event name</h5>
        <p class="card-text">event.description</p>
      </div>
      <div>
        <button class="view-site">View Site</button>
        <button class="view-more">View More</button>
      </div>
      <div class="card-footer">
        <small class="text-muted">Date : 12/02/2018</small>
        <small class="text-muted pull-right">Chennai</small>
      </div>
    </div>
  </div>
</div>