.other-event-back{
  background: #E6ECF0;
  padding: 13px;
  border: 2px solid #eee;
  border-radius: 4px;
  /*box-shadow: 0 0 6px 2px #B7AFD8;*/
}
.event-img-wrap{
  position: relative;
}
.overlay {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color:rgba(0, 0, 0, 0.2);
  z-index:1;
  color:white;
  display: none;
  align-items: center;
}
.card:hover .overlay{
  display: block;
  display: flex;
}
.card:hover .view-more{
  cursor: pointer;
  background: #0275d8;
  color: #fff;
}
.card:hover .view-site{
  cursor: pointer;
  background: green;
  color: #fff;
}
.p-pulse{
  margin: 12px;
  align-self: flex-start;
  cursor: pointer;
}
.overlay .fa-share-alt{
  margin: 12px;
  color: #fff !important;
  font-size: 20px;
  align-self: flex-start;
  cursor: pointer;
}
.overlay .btn-add-to-bucket{
  color: #443f3fe0;
  border-color: #5cb85c;
  border-radius: 0px;
  align-self: right;
  margin: 6px 0px 0px 30px;
  padding: 5px 12px;
  background: #5cb85c;
  color: #fff;
  border: none;
  cursor: pointer;
}
.card-text{
  color: #4e4d4d;
  font-size: 15px;
  display: block;
  display: -webkit-box;
  max-width: 100%;
  max-height: 100px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 20px;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card-title{
  color: green;
  text-transform: uppercase;
}
.view-more{
  width: 100%;
  background: #fff;
  border: none;
  padding: 7px;
  color: #4e4d4d;
  border: 1px solid #eee;
}
.view-site{
  width: 100%;
  background: #fff;
  border: none;
  padding: 7px;
  color: #4e4d4d;
  border: 1px solid #eee;
}
.card-size-1{
  column-count: 1 !important;
}
.other-events{
  text-align: center;
  margin: 0px auto 0px;
}
.other-events h5{
  border-bottom: 4px solid #d80233;
  display: inline-block;
  padding: 7px 0px;
  color: #585757;
  /*text-shadow: 4px 1px 8px black;*/
}
.card-columns{
  margin-top: 20px;
}
.other-event-back .joining{
  margin: 6px 0px 0px 93px;
}