<div class="col-md-12 add-margin">
  <h6 class="other-events-head">Other Events</h6>
  <div class="other-event-outer">
    <div class="other-event-wrap">
      <button class="btn btn-default">Joining?</button>
      <h6>Ruby Conference Chennai</h6>
      <div class="clearfix">
        <a href="" class="view-more">View More</a>
        <a href="" class="" class="view-site">View Site</a>
      </div>
      <div class="share-icon">
        <i class="fa fa-share-alt" aria-hidden="true"></i>
      </div>
      <div class="clearfix place-date">
        <span class="place">Anshoknagar</span>
        <span class="date-text">01/05/2018</span>
      </div>
    </div>
    <div class="other-event-wrap">
      <button class="btn btn-default">Joining?</button>
      <h6>Ruby Conference Chennai</h6>
      <div class="clearfix">
        <a href="" class="view-more">View More</a>
        <a href="" class="" class="view-site">View Site</a>
      </div>
      <div class="share-icon">
        <i class="fa fa-share-alt" aria-hidden="true"></i>
      </div>
      <div class="clearfix place-date">
        <span class="place">Anshoknagar</span>
        <span class="date-text">01/05/2018</span>
      </div>
    </div>
  </div>
</div>  