<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav class="example-sidenav">
    <div class="list-group">
      <a class="list-group-item list-group-item-success"  (click)="openDialog();sidenav.close()">
        Create New Buckets
      </a>
      <a class="list-group-item list-group-item-success">Recent Buckets</a>
      <a class="list-group-item list-group-item-action"  *ngIf="mybuckets">{{mybuckets.recent_bucket.name}}</a>
      <a class="list-group-item list-group-item-success">My Buckets</a>
      <div *ngIf="mybuckets">
        <div  *ngFor="let bucket of mybuckets.buckets">
          <a class="list-group-item list-group-item-action" (click)="getBucketEvent(bucket.id, bucket.name); sidenav.close()">{{bucket.name}}</a>
        </div>
      </div>
      <a class="list-group-item list-group-item-success">Friend's Buckets</a>
    </div>
  </mat-sidenav>

  <div class="sidenav-content">
    <button type="button" class="btn btn-success" (click)="sidenav.open()">
      Your Buckets
    </button>
  </div>

  <div class="container" *ngIf="mybuckets">
    <div class="row">
      <div class="col-md-3">
        <div class="dash-name">
          <h5>{{bucket_name}}</h5>
          <button class="btn btn-danger">Bucket Invites</button>
        </div>
      </div>
      <div class="col-md-6">
        <div class="dash-filter">
          <div class="btn-group">
            <button [ngClass]="today ? 'btn-success' : 'btn-primary' " (click)="dashboardFilter('today')">today</button>
            <button [ngClass]="this_week ? 'btn-success' : 'btn-primary' "(click)="dashboardFilter('this_week')">week</button>
            <button [ngClass]="this_month ? 'btn-success' : 'btn-primary' "(click)="dashboardFilter('this_month')">month</button>
            <button [ngClass]="this_year ? 'btn-success' : 'btn-primary' "(click)="dashboardFilter('this_year')">year</button>
            <button class="btn-primary" (click)="clearFilter()">Clear</button>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="dash-create-event">
          <button class="btn btn-danger" (click)="createRoute()">Create an Event</button>        
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 dash-events" >
        <div class="card-columns" >
          <div class="card" *ngFor="let event of events">
            <img class="card-img-top img-fluid" src="assets/images/event5.jpg" alt="Card image cap">
            <div class="card-block">
              <h4 class="card-title">{{event.name}}</h4>
              <p class="card-text">{{event.description}}</p>
              <p class="add-margin">
                <a href="event_list/{{event.slug}}">View More</a>
                <a href="{{event.url}}" class="pull-right">View site</a>
              </p>
            </div>
            <div class="card-footer">
              <small class="text-muted"> Place :
                <span class="place" *ngIf="event.locations.length > 0">
                  {{event.locations[0].venue ? event.locations[0].venue + ',' : ''}}
                  {{event.locations[0].address_lane_1 ? event.locations[0].address_lane_1 + ',' : ''}}
                  {{event.locations[0].city ? event.locations[0].city : ''}}
                </span>
              </small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-sidenav-container>
