<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav class="example-sidenav">
    <div class="list-group">
      <a class="list-group-item list-group-item-success" (click)="openDialog();sidenav.close()">
        Create New Buckets
      </a>
      <a class="list-group-item list-group-item-success">Recent Buckets</a>
      <a class="list-group-item list-group-item-action"  *ngIf="mybuckets">{{mybuckets.recent_bucket.name}}</a>
      <a class="list-group-item list-group-item-success">My Buckets</a>
      <div *ngIf="mybuckets">
        <div  *ngFor="let bucket of mybuckets.buckets">
          <a class="list-group-item list-group-item-action" (click)="changeBucket(bucket.id); sidenav.close()">{{bucket.name}}</a>
        </div>
      </div>
      <a class="list-group-item list-group-item-success">Friend's Buckets</a>
    </div>
  </mat-sidenav>
  <div class="container-fluid">
    <form (ngSubmit)="createEvent(createEventForm)" #createEventForm="ngForm">
      <div class="sidenav-content">
        <button type="button" class="btn btn-success" (click)="sidenav.open()">
          Your Buckets
        </button>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="bucket-name">
              <h5>
                {{current_bucket ? current_bucket.name : ''}}
              </h5>
            </div>
          </div>
          <div class="col-md-12">
            <div class="alert alert-success alert-dismissible fade show col-md-8 offset-md-2" role="alert" *ngIf="event_create_status" (click)="event_create_status = null ">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <strong>{{this.event_create_status}}</strong>
            </div>
            <div class="main-head">
              <h3>Create an Event</h3>
            </div>
          </div>
          <div class="col-md-8 offset-md-2">
            <div class="part-1">
              <h5>1. Event's Basic Information<em>*</em></h5>
              <input type="text" class="form-control" name="event_name" placeholder="Type your title here" [(ngModel)]="event_name" #name="ngModel" required minlength="6">
              <div *ngIf="name.invalid && (name.dirty || name.touched)" class="error-message">
                <span *ngIf="name.errors.required" >Event name is required.</span>
                <span *ngIf="name.errors.minlength" >Event name required at least 4 character</span>
              </div>
              <textarea rows="5" class="form-control" placeholder="Enter Event description here" name="event_description" [(ngModel)]="event_description" #description="ngModel" required minlength="20" ></textarea>
              <div *ngIf="description.invalid && (description.dirty || description.touched)" class="error-message">
                <span *ngIf="description.errors.required" >Description is required.</span>
                <span *ngIf="description.errors.minlength" >Description required at least 20 character</span>
              </div>
              <input type="text" class="form-control" name="url" placeholder="Event Url (Optional)" >
            </div>
          </div>
          <div class="col-md-8 offset-md-2">
            <div class="part-2">
              <h5>2. Venue and Date<em>*</em></h5>
              <div *ngIf="address_type">
                <ng4geo-autocomplete (componentCallback)="googleLocation($event)" required name="address"></ng4geo-autocomplete>
                <p>Unable to locate ?, <span (click)="changeAddressMode()"> Enter an Address</span></p>
              </div>
              <div class="row" *ngIf="!address_type" ngModelGroup="address">
                <div class="col-md-8">
                  <div class="address">
                    <input type="text" name="venue" class="form-control" placeholder="Address 1" ngModel>
                    <input type="text" name="lane" class="form-control" placeholder="Address 2" ngModel>
                    <input type="text" name="address_lane_1" class="form-control" placeholder="Address 3" ngModel>
                    <input type="text" name="address_lane_2" class="form-control" placeholder="Address 4" ngModel>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <input type="text" name="city" class="form-control" placeholder="City" ngModel>
                      <input type="text" name="country" class="form-control" placeholder="Country" ngModel>
                    </div>
                    <div class="col-md-6">
                      <input type="text" name="state" class="form-control" placeholder="State" ngModel>
                      <input type="text" name="pin" class="form-control" placeholder="Pin code" ngModel>
                    </div>
                  </div>
                </div>
                <p class="reset-add" (click)="changeAddressMode()">Reset the Address</p>     
              </div>
              <div class="row start-end-date">
                <div class="col-md-6">
                  <label>Start Date : </label>
                  <input matInput [matDatepicker]="picker1" placeholder="Start date" [(ngModel)]="start_date" name="start_date" #startDate="ngModel" required>
                  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                  <mat-datepicker #picker1></mat-datepicker>
                  <div *ngIf="startDate.invalid && (startDate.dirty || startDate.touched)" class="error-message">
                    <span *ngIf="startDate.errors.required" >Event start date is required.</span>
                  </div>
                </div>
                <div class="col-md-6">
                  <label>End Date : </label>
                  <input matInput [matDatepicker]="picker2" placeholder="End date" [(ngModel)]="end_date" name="end_date" #endDate="ngModel" required>
                  <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                  <mat-datepicker #picker2></mat-datepicker>
                  <div *ngIf="endDate.invalid && (endDate.dirty || endDate.touched)" class="error-message">
                    <span *ngIf="endDate.errors.required" >Event end date is required.</span>
                  </div>
                </div>
              </div>
              <div class="row start-end-time">
                <div class="col-md-6">
                  <label>Start Time : </label>
                  <ngb-timepicker [(ngModel)]="start_time" [meridian]="true" [spinners]="false" size="small" name="start_time" required #startTime="ngModel"></ngb-timepicker>
                  <div *ngIf="startTime.invalid && (startTime.dirty || startTime.touched)" class="error-message col-md-12">
                    <span *ngIf="startTime.errors.required" >Event Start time is required.</span>
                  </div>
                </div>
                <div class="col-md-6">
                  <label>End Time : </label>
                  <ngb-timepicker [(ngModel)]="end_time" [meridian]="true" [spinners]="false" size="small" name="end_time" required #endTime="ngModel"></ngb-timepicker>
                  <div *ngIf="endTime.invalid && (endTime.dirty || endTime.touched)" class="error-message col-md-12">
                    <span *ngIf="endTime.errors.required" >Event end time is required.</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-8 offset-md-2">
            <div class="part-3">
              <h5>3. Other Details<em>*</em></h5>
              <div class="col-md-12">
                <div>
                  <input type="radio" name="public_event" [value]=true [(ngModel)]="is_public"> Public (This Event can be seen by all )
                </div>
                <div>
                  <input type="radio" name="public_event" [value]=false [(ngModel)]="is_public"> Private (This Event can be seen only by Chennai Bucket invitees)
                </div>
                <mat-form-field class="demo-chip-list">
                  <mat-chip-list #chipList>
                    <mat-chip *ngFor="let tag of tags" [selectable]="selectable"
                    [removable]="removable" (remove)="remove(tag)" color="primary" selected="true">
                    {{tag}}
                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                  </mat-chip>
                  <input placeholder="Enter new tag"
                  [matChipInputFor]="chipList"
                  [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                  [matChipInputAddOnBlur]="addOnBlur"
                  (matChipInputTokenEnd)="add($event)" />
                </mat-chip-list>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="col-md-8 offset-md-2">
          <div class="row">
            <div class="col-md-12">
              <div class="create-event-actions">
                <button class="btn btn-info">Preview</button>
                <button type="submit" class="btn btn-success" [disabled]="!createEventForm.form.valid">Create</button>
                <a href="">Cancel</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
</mat-sidenav-container>