/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


body,h1,h2,h3,h4,h5,h6,p{
	margin:0px;
	padding: 0px;
}
*:focus {
    outline: none;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }
.main-layout{
	background-color: #f1efef82;
}
.mat-dialog-container {
  background: #fff;
  color: rgba(0,0,0,.87);
  border-radius: 10px !important;
}
.mat-icon-button{
  color: silver !important;
}
.cdk-overlay-pane{
  top: 57px !important;
}
.mat-drawer-container{
  min-height: 630px;
}