/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


body,h1,h2,h3,h4,h5,h6,p{
	margin:0px;
	padding: 0px;
}
*:focus {
  outline: none;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }
.main-layout{
	background-color: #f1efef82;
}
.mat-dialog-container {
  background: #fff;
  color: rgba(0,0,0,.87);
  border-radius: 10px !important;
}
.mat-icon-button{
  color: silver !important;
}
.cdk-overlay-pane{
  top: 57px !important;
}
.mat-drawer-container{
  min-height: 630px;
}
input.mat-chip-input{
  position: absolute;
  left: 15px;
  border: 1px solid #ddd !important;
  margin: 10px 0px !important;
  padding: 4px;
  border-radius: 2px !important;
}
.mat-chip {
  margin-top: 60px !important;
}
.bootstrap.ng2-tag-input.ng2-tag-input--focused[_ngcontent-c10]{
  border: none !important;
}
.bootstrap.ng2-tag-input[_ngcontent-c10]{
  border: none !important;
}
.bootstrap.ng2-tag-input[_ngcontent-c10] .ng2-tags-container[_ngcontent-c10] {
    margin-left: 14px !important;
}
.custom-autocomplete{
  margin-bottom: 10px !important;
}
.custom-autocomplete input{
  height: 35px !important;
}
.custom-autocomplete .search-icon i {
  height: 20px !important;
  width: 20px !important;
  margin-top: 7px !important;
}
ngb-timepicker fieldset{
  display: inline !important;
}